

@font-face {
    font-family: 'din';
    src: url('assets/fonts/din/din1451alt-webfont.woff2') format('woff2'),
         url('assets/fonts/din/din1451alt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
